{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Caleb Mutuku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" " />
    <meta name="keywords" content="" />
    <meta content="Themesdesign" name="author" />
    <link rel="shortcut icon" href="{{'static/images/favicon.ico'}}">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" id="bootstrap-style">
    <!-- Material Icon Css -->
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}" type="text/css">
    <!-- Unicon Css -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <!-- Swiper Css -->
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css.map' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" type="text/css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" type="text/css">
    <!-- Font Awesome -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Telugu:ital@1&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>

    <!-- Font Awesome -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" /> -->
    <!-- Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" /> -->
    <!-- MDB -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css" rel="stylesheet" /> -->




</head>

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="71">

    <!-- light-dark mode button -->
    <a href="javascript: void(0);" id="mode" class="mode-btn text-white rounded-end">
        <i class="uil uil-brightness mode-dark mx-auto"></i>
        <i class="uil uil-moon bx-spin mode-light"></i>
    </a>


    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top sticky trasparent" id="navbar">
        <div class="container-fluid custom-container">
            <a class="navbar-brand logo text-uppercase" href="index.html">
                <img src="{{'static/images/logo-light.png'}}" class="logo-light" alt="" height="34">
                <img src="{{'static/images/logo-dark.png'}}" class="logo-dark" alt="" height="34">
            </a>

            <button class="navbar-toggler me-3 order-2 ms-4" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto navbar-center">
                    <li class="nav-item active">
                        <a href="#home" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover">
                        <a href="#aboutme" class="nav-link ">About Me</a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover">
                        <a href="#service" class="nav-link ">Service</a>
                    </li>
                    <li class="nav-item">
                        <a href="#skills" class="nav-link">Skills</a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover">
                        <a href="{% url 'projects'%}" class="nav-link ">Projects</a>
                    </li>

                    <li class="nav-item">
                        <a href="#testi" class="nav-link">Testimonial</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#blog" class="nav-link">Blog</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
                <!--end navbar-nav-->
                <div class="ms-auto ps-2 ps-lg-0">
                    <a href="" class="btn btn-dark rounded-pill my-3 my-lg-0" data-bs-toggle="" data-bs-target="">Hire
                        Me</a>
                </div>
            </div>
        </div>
        <!--end container-->
    </nav>
    <!-- Navbar End -->



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <form class="row g-3 needs-validation">
                        <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">First name <span
                                    class="text-primary">*</span></label>
                            <input type="text" class="form-control" id="validationCustom01" value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom02" class="form-label">Email <span
                                    class="text-primary">*</span></label>
                            <input type="email" class="form-control" id="validationCustom02" value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom03" class="form-label">Subject <span
                                    class="text-primary">*</span></label>
                            <input type="text" class="form-control" id="validationCustom03" required>
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom05" class="form-label">Password <span
                                    class="text-primary">*</span></label>
                            <input type="password" class="form-control" id="validationCustom05" required>
                            <div class="invalid-feedback">
                                Please provide a valid zip.
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label for="validationTextarea" class="form-label">Textarea<span
                                    class="text-primary">*</span></label>
                            <textarea class="form-control" id="validationTextarea" required></textarea>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- end modal -->


    <!-- home section -->
    <section class="home-3 position-relative overflow-hidden">
        <div class="hero-bg ">
            <div class="swiper-slide">
                <div class="container position-relative">
                    <div class="row justify-content-center align-items-center">
                        {% for home in homes %}

                        <div class="col-lg-6">
                            <div class="home-content position-relative">

                                <div class="user-icon avatar-sm">
                                    <i class="mdi mdi-account fs-24"></i>
                                </div>

                                <h4 class="text-dark mt-4 mb-0">Hi! I am Caleb Mutuku</h4>
                                <h2 class="home-title mb-0  fw-bold" style="color:#2FB4AE ;"><span
                                        class="text-dark">Your</span>
                                    <span class="typewrite " data-period="2000"
                                        data-type='[" Web Developer.", "Web Designer.","UI/UX Designer." ]'>
                                        <span class="wrap"></span>
                                    </span>
                                </h2>
                                <p class=" mt-3 mb-0">{{home.aboutme}}</p>

                                <div class="my-details ">
                                    <div class="d-flex align-items-center mt-4">
                                        <div class="icon">
                                            <i class="mdi mdi-file-outline fs-24" style="color: #2FB4AE;"></i>
                                        </div>
                                        <div class="icon-details">
                                            <p class="fw-semibold mb-0 ms-2  fs-15">{{home.title}}</p>
                                        </div>
                                    </div>

                                    <!-- <div class="d-flex align-items-center mt-2">
                                            <div class="icon">
                                                <i class="mdi mdi-email fs-24" style="color:#2FB4AE ;"></i>
                                            </div>
                                        <div class="icon-details">
                                            <p class="fw-semibold mb-0 ms-2 text-muted fs-15">{{home.email}}</p>
                                        </div>
                                       
                                    </div> -->
                                    <div class="d-flex align-items-center mt-2">
                                        <a href="https://github.com/CalebKabaya">
                                            <div class="icon">
                                                <i class="mdi mdi-github fs-24" style="color:#2FB4AE ;"></i>
                                            </div>
                                        </a>
                                       <a href="https://github.com/CalebKabaya">
                                        <div class="icon-details">
                                            <p class="fw-semibold mb-0 ms-2 text-dark  fs-15">Github</p>
                                        </div>
                                       </a>
                                       
                                    </div>

                                    <div class="d-flex align-items-center mt-2">
                                        <div class="icon">
                                            <i class="mdi mdi-map-marker-outline fs-24" style="color: #2FB4AE;"></i>
                                        </div>
                                        <div class="icon-details">
                                            <p class="fw-semibold mb-0 ms-2  fs-15">{{home.location}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-box mt-4">

                                <!-- end modal -->
                                <div class="button-group d-flex mt-3">
                                    <a href=""><button class="btn btn-dark" id="exampleModalLabel">Download
                                            CV</button></a>
                                    <a href="#" class="ms-3"><button class="btn btn-outline-primary">Contact
                                            Me</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="home-bg-image mt-4 mt-lg-0">
                                <img src="{{home.image.url}}" alt="" class="img-fluid">
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home section -->



    <!-- about-me section -->
    <section class="section about-me" id="aboutme">
        <!-- container -->
        <div class="container">
            <div class="about-box">
                <div class="row">

                    <div class="col-lg-6 position-relative">
                        {% for about in abouts%}
                        <div class="image-round"></div>
                        <div class="about-image p-4 pb-0">
                            <img src="{{about.image.url}}" alt="" class="img-fluid">
                        </div>
                        {% endfor %}

                    </div>

                    <div class="col-lg-6">
                        <div class="about-item p-5">

                            <h2 class="display-5 fw-semibold">About Me</h2>
                            {% for about in abouts%}
                            <p class=" fs-14">{{about.aboutme}}</p>
                            {% endfor %}
                            <ul class="nav nav-pills mb-3 mt-4 pt-2" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                        aria-selected="true">Skills</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-profile" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">Experience</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-contact" type="button" role="tab"
                                        aria-controls="pills-contact" aria-selected="false">Education</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                    aria-labelledby="pills-home-tab">
                                    {% for skill in skills%}
                                    <div class="skill-item mt-4 pt-2">
                                        <div class="d-flex justify-content-between">
                                            <h6>{{skill.skill1}}</h6>
                                            <h6>{{skill.percentage}}%</h6>
                                        </div>
                                        <div class="progress" style="height: 5px;">
                                            <div class="progress-bar" role="progressbar"
                                                aria-valuenow="{{skill.percentage}}" aria-valuemin="0"
                                                aria-valuemax="100" style="width: {{skill.percentage}}%;"></div>
                                        </div>
                                    </div>


                                    {% endfor%}
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                    aria-labelledby="pills-profile-tab">
                                    {% for experience in experiences%}
                                    <div class="experience">
                                        <div class="row position-relative">
                                            <div class="col-2">
                                                <div class="border-left"></div>
                                            </div>
                                            <div class="col-10">
                                                <div class="mt-4 pt-2">
                                                    <h5>{{experience.title}}</h5>
                                                    <p class="text-muted fs-15">{{experience.duration}}
                                                        ({{experience.how_many_months_or_years}}
                                                        {{experience.month_or_year}} Experience)</p>
                                                    <p class=" fs-15">{{experience.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor%}
                                </div>
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                    aria-labelledby="pills-contact-tab">
                                    {% for educ in education%}
                                    <div class="experience">
                                        <div class="row position-relative">
                                            <div class="col-2">
                                                <div class="border-left"></div>
                                            </div>
                                            <div class="col-10">
                                                <div class="mt-4 pt-2">
                                                    <h5>{{educ.title}}</h5>
                                                    <p class="text-muted fs-15 mb-0">{{educ.duration}}
                                                        ({{educ.total_years}} {{educ.year_month}})</p>
                                                    <p class=" fs-15 mb-0">{{educ.description}}</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    {% endfor%}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end container -->
    </section>
    <!-- end about-me -->


    <!-- start service -->
    <section class="section service" id="service">
        <!-- start container -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h6 class="mb-0 text-muted fs-15">WHAT i OFFER</h6>
                        <h2>Affordable Services</h2>
                        <p class="para-width text-muted mb-0 fs-15">This are some of the best services that i offer as a
                            full-stack developer.</p>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">

                {% for service in services %}
                <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="{{service.logo.url}}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{service.service_title}}</h5>
                        <p class="card-text">{{service.service_description}}</p>
                      </div>
                      
                    </div>
                    </div>
                <!-- <div class="col">
                    <div class="card h-100">
                        <img src="{{service.logo.url}}" class="card-img-top " alt="Hollywood Sign on The Hill" />
                        <div class="card-body">
                            <h5 class="card-title">{{service.service_title}}</h5>
                            <p class="card-text  fs-15">
                                {{service.service_description}}
                            </p>
                        </div>
                    </div>
                </div> -->
                {% endfor %}

            </div>


        </div>
        <!-- end container -->
    </section>
    <!-- end service -->



    <!-- start counter -->
    <section class="section counter" id="skills">
        <!-- start container -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-4">
                        <h6 class="mb-0 text-muted fs-14">Skills set</h6>
                        <h2>My Skills </h2>
                        <p class="para-width text-muted mb-0 fs-15">Through my continuous growing experience, i have
                            gain more skills in software engineering.This is what i bring to the table.</p>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                {% for skill in allskills %}
                <div class="col-lg-4">
                    <div class="info-item box-shadow mt-4 pt-2">
                        <div class="p-4">
                            <div class="d-flex justify-content-between">
                                <h6>{{skill.skill1}}</h6>
                                <h6>{{skill.percentage}}%</h6>
                            </div>
                            <div class="progress" style="height: 5px; color: #2FB4AE;">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.percentage}}"
                                    aria-valuemin="0" aria-valuemax="100" style="width: {{skill.percentage}}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>


    </section>
    <!-- end counter -->




    <!-- start my-work -->
    <section class="section my-work" id="work">
        <!-- start container -->
        <div class="container">
            <div class="row">
                <div class="d-flex align-items-center">
                    <div class="left-text">
                        <h2 class="mb-0">My Latest Work</h2>
                        <p class="fs-15 text-muted">This is my portfolio, click on view More Work to view all </p>
                    </div>
                    <div class="right-text ms-auto">
                        <a href="{% url 'projects'%}" class="text-info border-2 border-info border-bottom">More Work
                            <img src="{{'static/images/home/right-arrow-primary.png'}}" alt=""
                                class="img-fluid mb-1 ms-2"></a>
                        <!-- <img src="{{'static/images/counter/idea.png'}}" alt="" class="img-fluid"> -->

                    </div>
                </div>
            </div>
            <!-- end row -->
            <!-- <div class="row row-cols-1 row-cols-md-3 g-4">

                    <div class="col-lg-12">
                        <div class="work-slider" id="work-slider">
                {% for project in projects%}

                  <div class="card h-100">
                    <img src="{{project.image.url}}" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                    <div class="card-body">
                      <h5 class="card-title">{{project.title}}</h5>
                      <p class="card-text  fs-15">
                        {{project.description|slice:":120"}}.
                      </p>
                      <a href="{% url 'singleproject' project_id=project.id%}" class="btn btn-primary">View</a>

                    </div>
                  </div>
                  {% endfor %}
                </div>
                </div>

                </div>  -->
            <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="work-slider" id="work-slider">
                            {% for project in projects%}
                      <div class="card h-100">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                          </p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                      </div>
                      {%endfor %}
                      </div>
                    </div> -->
            <div class="row">

                <div class="col-lg-12" id=" card-work">
                    <div class="work-slider" id="work-slider">
                        {% for project in projects%}

                        <div class="card h-100">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="{{project.image.url}}" class="img-fluid" />
                                <a href="{% url 'singleproject' project_id=project.id%}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{project.title}}</h5>
                                <p class="card-text fs-14">{{project.description|slice:":120"}}.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted"> <a href="{% url 'singleproject' project_id=project.id%}"
                                        class="btn btn-primary ya">View</a>
                                </small>
                            </div>
                        </div>

                        {%endfor %}



                    </div>

                </div>
            </div>
        </div>
        </div>
        <!-- end container -->
    </section>
    <!-- end my-work -->


    <!-- start counter -->
    <section class="section counter" id="counter">
        <!-- start container -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-4">
                        <h6 class="mb-0 text-muted fs-15">Counter</h6>
                        <h2>My Achievement</h2>
                        <p class="para-width text-muted mb-0 fs-15">A quick summary of my experience including number of
                            customers i have served ,project done and years of experience</p>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div class="counter-item">
                        <div class="counter-icon text-center">
                            <img src="{{'static/images/counter/heart.png'}}" alt="" class="img-fluid">

                        </div>
                        <div class="counter-velue text-center mt-3">
                            <h2 class="counter_value fw-bold d-inline-block mb-0" data-bs-target="4">4</h2><span
                                class="h2 fw-bold"></span><span class="h2"> +</span>
                        </div>
                        <div class="text-center">
                            <p class=" fw-semibold fs-15">Happy Clients</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div class="counter-item">
                        <div class="counter-icon text-center">
                            <img src="{{'static/images/counter/blueprint.png'}}" alt="" class="img-fluid">

                        </div>
                        <div class="counter-velue text-center mt-3">
                            <h2 class="counter_value fw-bold d-inline-block mb-0" data-bs-target="50">0</h2>
                        </div>
                        <div class="text-center">
                            <p class=" fw-semibold fs-15">Project Done</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div class="counter-item">
                        <div class="counter-icon text-center">
                            <img src="{{'static/images/counter/star.png'}}" alt="" class="img-fluid">

                        </div>
                        <div class="counter-velue text-center mt-3">
                            <h2 class="counter_value fw-bold d-inline-block mb-0" data-bs-target="4">4</h2><span
                                class="h2 fw-bold"></span><span class="h2"> +</span>
                        </div>
                        <div class="text-center">
                            <p class=" fw-semibold fs-15">Clients Review</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div class="counter-item">
                        <div class="counter-icon text-center">
                            <img src="{{'static/images/counter/idea.png'}}" alt="" class="img-fluid">

                        </div>
                        <div class="counter-velue text-center mt-3">
                            <h2 class="counter_value fw-bold d-inline-block mb-0" data-bs-target="1">1</h2><span
                                class="h2"> +</span>
                        </div>
                        <div class="text-center">
                            <p class=" fw-semibold fs-15">Year Experience</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- end counter -->

    <!-- start pricing -->
    <!-- <section class="section pricing" id="pricing">

        

        

    </section> -->
    <!-- end pricing -->


    <!-- start testimonial -->
    <section class="section testimonial" id="testi">
        <div class="shape-1">
            <img src="{{'static/images/testi/shape.png'}}" alt="" class="img-fluid">
        </div>
        <!-- start container -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mb-5">
                        <h6 class="mb-0 text-muted fs-15 text-uppercase">Testimonial</h6>
                        <h2>What people say about me</h2>
                        <p class="para-width mb-0 fs-15">Here are testimonials from some of my clients with
                            who i have done a successful project for them and some of my Dev friends who we help each
                            other in coding</p>
                    </div>
                </div>
            </div>

            <!-- Slider main container -->
            <div class="swiper-container py-5">
                <div class="swiper-wrapper pt-3">
                    {% for test in testimonials%}
                    <!-- start slider -->
                    <div class="swiper-slide border-radius position-relative ">
                        <div class="user-image">
                            <img src="{{test.image.url}}" alt="" class="avatar-md rounded-circle">
                        </div>
                        <div class="text-center mt-4">
                            <p class="f-16  fs-15">" {{test.testimonial}} "
                            </p>
                        </div>
                        <hr>
                        <div class="user-info text-center">
                            <div class="user-info">
                                <h5 class="text-black mb-0">{{test.name}}</h5>
                                <p class="mb-0 fs-14">{{test.job_title}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                    <!-- end slider -->


                </div>

                <!-- navigation buttons -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="shape-2">
            <img src="{{'static/images/testi/shape-2.png'}}" alt="" class="img-fluid">
        </div>

        <div class="shape-3">
            <img src="{{'static/images/testi/shape-3.png'}}" alt="" class="img-fluid">
        </div>
        <!-- end container -->
    </section>
    <!-- end testimonial -->




    <!-- start blog -->
    <!-- <section class="section blog" id="blog"> -->
    <!-- start container -->

    <!-- end container -->
    <!-- </section> -->
    <!-- end blog -->



    <!-- start contact -->
    <section class="contact pt-5 pb-0" id="contact">
        <!-- start container -->
        <div class="container">

            <div class="shape-1">
                <img src="{{'static/images/testi/shape.png'}}" alt="" class="img-fluid">
            </div>

            <div class="contact-item">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="contact-info">
                            {% for addres in address %}
                            <div class="mb-4">
                                <h3>Let's Connect</h3>
                                <p class=" mb-0">Wanna hire me for your next project? Please fill the form below.
                                </p>
                            </div>

                            <hr>

                            <div class="info-content mt-4">
                                <h6>Address :</h6>
                                <div class="d-flex">
                                    <div class="icon">
                                        <i class="mdi mdi-home-outline fs-24 " style="color: #2FB4AE;"></i>
                                    </div>
                                    <div class="icon-content ms-3">
                                        <p class="mb-0 fs-15">{{addres.address}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="info-content mt-4 pt-2">
                                <h6>Phone :</h6>
                                <div class="d-flex">
                                    <div class="icon">
                                        <i class="mdi mdi-phone-outline fs-24" style="color: #2FB4AE;"></i>
                                    </div>
                                    <div class="icon-content ms-3">
                                        <p class="mb-0 fs-15">{{addres.phone}}</p>
                                    </div>
                                </div>
                            </div>


                            <div class="info-content mt-4 pt-2">
                                <h6>Email :</h6>
                                <div class="d-flex">
                                    <div class="icon">
                                        <i class="mdi mdi-email-outline fs-24" style="color: #2FB4AE;"></i>
                                    </div>
                                    <div class="icon-content ms-3">
                                        <p class="mb-0 fs-15">{{addres.email}}</p>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="col-lg-7 ">
                        <div class="custom-form mt-4 ">
                            <form method="post" name="myForm" onsubmit="return validateForm()">

                                <h6 class="mb-0 ">Let's talk</h6>
                                <h3>Contact Me</h3>
                                <p class=" fs-15 ">For all enquiries, you can reach me through a text, phone call, my socials or you can email me through the form below.</p>
                                <p id="error-msg" style="opacity: 1;">
                                    <!-- <div class="alert alert-warning">*Please enter a Name*</div> -->
                                </p>


                                <div id="simple-msg"></div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input name="name" id="name" type="text" class="form-control contact-form"
                                                placeholder="Your name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input name="email" id="email" type="email"
                                                class="form-control contact-form" placeholder="Your email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input type="text" class="form-control contact-form" id="subject"
                                                placeholder="Your Subject..">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <textarea name="comments" id="comments" rows="4"
                                                class="form-control contact-form h-auto"
                                                placeholder="Your message..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-lg-12 d-grid">
                                        <input type="submit" id="submit" name="send"
                                            class="submitBnt btn btn-rounded btn-primary" value="Send Message">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shape-2">
                <img src="{{'static/images/testi/shape-2.png'}}" alt="" class="img-fluid">
            </div>

            <div class="shape-3 ">
                <img src="{{'static/images/testi/shape-3.png'}}" alt="" class="img-fluid">
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- end contact -->



    <!-- start footer -->
    <section class=" footer">
        <!-- start container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="mt-5">
                        <a class=" logo text-uppercase" href="index.html">
                            <img src="images/logo-light.png" class="logo-light" alt="" height="32">
                            <!-- <img src="images/logo-light.png" class="logo-dark" alt="" height="28"> -->
                        </a>
                        {% for about in abouts%}
                        <p class="fs-15 text-white-50 mt-4">{{about.aboutme|slice:":109"}} <a href="#aboutme" style="color: #2FB4AE;">Read more!!</a>
                        </p>
                        {%endfor%}

                        <div class="icon-item mt-4">
                            <div class="d-flex">
                                <a href="https://www.facebook.com/caleb.kabaya/">
                                    <div class="social-icon facebook avatar-xs">
                                        <i class="mdi mdi-facebook "></i>
                                    </div>
                                </a>
                                <a href="https://www.instagram.com/caleb_m_kabaya/">
                                    <div class="social-icon instagram avatar-xs">
                                        <i class="mdi mdi-instagram "></i>
                                    </div>
                                </a>
                                <a href="https://twitter.com/KabayaCaleb">
                                    <div class="social-icon twitter avatar-xs">
                                        <i class="mdi mdi-twitter"></i>
                                    </div>
                                </a>
                                <a href="https://www.linkedin.com/in/caleb-kabaya/">
                                    <div class="social-icon linkedin avatar-xs">
                                        <i class="mdi mdi-linkedin"></i>
                                    </div>
                                </a>
                                <a href="https://github.com/CalebKabaya">
                                    <div class="social-icon github avatar-xs">
                                        <i class="mdi mdi-github"></i>
                                    </div>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-2 mt-4">
                    <h5 class="text-white">Links</h5>

                    <ul class="footer-text list-unstyled mt-4">
                        <li><a href="#aboutme"><i class="mdi mdi-arrow-right me-2"></i>About Me</a></li>
                        <li><a href="#service"><i class="mdi mdi-arrow-right me-2"></i>Services</a></li>
                        <li><a href="#skills"><i class="mdi mdi-arrow-right me-2"></i>Skills</a></li>
                        <li><a href="{% url 'projects'%}"><i class="mdi mdi-arrow-right me-2"></i>Projects</a></li>
                        <li><a href="#testi"><i class="mdi mdi-arrow-right me-2"></i>Testimonial</a></li>
                        <li><a href="#contact"><i class="mdi mdi-arrow-right me-2"></i>Contact</a></li>
                    </ul>

                </div>

                <div class="col-lg-3 mt-4">
                    <h5 class="text-white">Linkedin</h5>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="linkedin-box mt-4">
                                <p class="mb-0 text-white-50 fs-15 mb-2">Take a look at my professional linkedin profile.</p>
                                <a href="https://www.linkedin.com/in/caleb-kabaya/" class="fs-15">@Caleb Kabaya</a>
                            </div>
                        </div>
                    </div>

                    <div class="linkedin-content d-flex align-items-center">
                        <div class="icon">
                            <i class="mdi mdi-linkedin text-white fs-40"></i>
                        </div>
                        <div class="icon-content ms-2">
                            <a href="https://www.linkedin.com/in/caleb-kabaya/" class="text-white-50">Linkedin</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-4">
                    <h5 class="text-white">Sign up</h5>
                    <p class="mb-0 text-white-50 mt-4">Follow our newsletter to stay updated about agency.</p>
                    <div class="input-group my-3">
                        <input type="text" class="form-control p-3" placeholder="subscribe" aria-label="subscribe"
                            aria-describedby="basic-addon2">
                        <a href="" class="input-group-text bg-primary text-white px-4" id="basic-addon2">Go</a>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>

    <section class="bottom-footer py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <p class="mb-0 text-center text-muted">©
                        <script>document.write(new Date().getFullYear())</script> Caleb Mutuku <i
                            class="mdi mdi-account text-danger"></i>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- end footer -->


    <!--Bootstrap Js-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Slider Js -->
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <!-- <script src="js/tiny-slider.js"></script> -->
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <!-- conter -->
    <script src="{% static 'js/counter.init.js' %}"></script>
    <!-- App Js -->
    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>